.label {
	display: block;
	clear: left;
	float: left;
	width: 175px;
	text-align: right;
	/*padding: 7px 15px 0 0;*/
	text-transform: uppercase;	
	font-weight: bold;
}

#map-canvas {
	height: 600px; 
}